
html {
    font-family: system-ui, sans-serif;

}
  
body {
    background-color: #fbfbfb;
}



.row {
  width: 100%;
  height: 200px;
  /* background-image: url(photos/background.jpg); */
  background-color: lightblue;
  
  margin-left: 0px !important;
  margin-right: 0px !important;
 
  align-content: center !important;
  justify-content: center; 
  /* opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;  */
}

.kos2020{
  float: right;
  margin-right: 25px;
  
}

.Kosstat{
  float: right;
  padding-bottom: 50px;
}


.videoja{

  overflow: hidden;
  position: relative;
  
 }


.video1{
  /* border: 4px solid lightblue; */
  border-radius: 20px;
  position: relative;
  left: 0;
  top: 0;
  opacity: 1;
}

.stat1{
  background-color: red;
}

.card {
  width: 15rem !important;
  border-bottom: 3px solid black !important;
  border-top: 3px solid grey !important;

  border-radius: 5px !important;
  
}


.divikryesor{
  padding: 0 15% 0 15%;
}

ul.nav a:hover { 
  color: black !important; 
}

header{
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  background-image: url("../photos/corona.jpg");
  color: white;

}  

header a {
  color: white;
}

.Logo { 
  width: 50px;
  height: 50px; 
}
.logoks
{
  float: left;
  height: 70px;
  padding-left: 50px;
}
hr {
  width: 50%;
}

h3 {
  color: white;
  display: inline;
}
h5 {
  color: #969292;
}

.box {
  border-top: 2px solid red;
}


.nav-link:hover {
  color: orange;
}

  