
html {
    font-family: system-ui, sans-serif;

}
  
body {
    background-color: #fbfbfb;
}

.divi1 {
  width: 100%;
  height: 500px;
  /* background-image: url(photos/background.jpg); */
  background-color: seashell;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; 
}

.divikryesor{
  padding: 0 15% 0 15%;
}

ul.nav a:hover { 
  color: black !important; 
}

header{
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  background-image: url("photos/corona.jpg");
  color: white;

}  

header a {
  color: white;
}

.Logo { 
  width: 50px;
  height: 50px; 
}
.logoks
{
  float: left;
  height: 70px;
  padding-left: 50px;
}
hr {
  width: 50%;
}

h3 {
  color: white;
  display: inline;
}
h5 {
  color: #969292;
}

.box {
  border-top: 2px solid red;
}

.datat {
  border-top: 4px solid orange;
  border-bottom: 1px solid #da9160;
  border-left: 1px solid #da9160;
  border-right: 1px solid #da9160;
  width: 30%;
  text-align: center;
  filter: brightness(150%);
  padding-top: 10px;
  position: relative;
  top: 20px;
  left: 20px;
  border-radius: 5px;
  
  
}

.nav-link:hover {
  color: orange;
}

  